<%- include('partials/header') %>
<div class="container">
    <div class="img-thumbnail flex-item">
                        <img width="725px" height="490px" src='<%=snacks.itemlink%>'>
                        <div id="description">
                            <h3><%=snacks.itemname%></h3>
                            <h6>Units Left: <%=snacks.unitsleft%></h6>
                            <h6>Cost: $<%=snacks.price%></h6>
                            <h6>Description: <%=snacks.description%></h6>
                            <br>
                        </div>
                    </div> 
</div>